.log-entry-form {
	display: flex;
	flex-direction: column;
	padding: 15px;
	min-width: 350px;

	.error {
		color: #f05305;
	}

	.form-group {
		display: flex;
		flex-direction: column;
		text-align: left;
		margin-bottom: 10px;

		input, textarea {
			outline: none;
			border-width: thin;
			border-style: solid;
			border-color: grey;
			&:focus {
				border-color:#f8c102;
				border-width: thin;
			}
		}
		input {
			padding: 5px 10px;
		}
		textarea {
			padding: 5px 10px;
		}
		label {
			font-size: .9rem;
			font-weight: bold;
			margin-bottom: 3px;
		}

		.error-message {
			color: red;
			background: rgba(255, 0, 0, 0.13);
			align-self: flex-start;
			margin-top: 3px;
			padding: 2px 3px;
			font-size: .8rem;
			border-radius: 3px;
		}

	}

	.submit-button {
		padding: 6px 10px;
		font-size: 1rem;
		cursor: pointer;
		outline: none;
		border: none;
		background: #f8c102;
		color: white;
	}
}