.marker {
	position: relative;
	height: 32px;
	width: 32px;
	cursor: pointer;
}
.marker-pin {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.marker-pin.yellow {
	stroke: #f8c102;
}
.marker-pin.red {
	stroke: #f80202;
}

.popup-container {
	display: flex;
	flex-direction: column;
	max-width: 400px;
	text-align: center;
}
.popup-container img {
	width: 100%;
	max-height: 200px;
	object-fit: cover;
	
}
.popup-container small {
	background:#22fa0e2d;
	padding: 3px 6px;
	border-radius: 3px;
	align-self: center;
}